<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HELLO!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="card">
    <h1>Stay Tuned for More Features!</h1>
    <p>
      We’re working on new classroom tools and student management options to make your workflow smoother. Check back soon for updates.
    </p>

    <h2>S M A R T</h2>
    <p>YOUR PARTNER IN SMARTER ASSESSMENT</p>

  </div>

  <ion-footer>
        <ion-button fill="clear" color="medium" (click)="onGoto()">
          ← Go Back
        </ion-button>
  </ion-footer>
  
  
</ion-content>

