<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="header-title">About and Use</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about-use-page ion-padding">
  <div class="card">
    <h2>About SMART</h2>
    <p>
      A system that uses smartphone cameras and image-processing technology to automatically scan, check, and record student assessment quickly and accurately.
    </p>
  </div>

  <div class="card">
    <h2>Use of SMART</h2>
    <p>
      It is used to quickly scan, automatically grade and securely store student assessment results, improving efficiency and accuracy in the evaluation process.
    </p>
  </div>

  <div class="card">
    <h2>Vission</h2>
    <p>
A modern academic environment driven by fast, accurate, 
and digitally organized assessment tools.
    </p>
  </div>

  <div class="card">
    <h2>Mission</h2>
    <p>
      To provide a fast, accurate, and digitally organized assessment tool for educational institutions.
    </p>
  </div>
</ion-content>
