/* forgot.page.scss */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.msg {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background: #eee;
}

ion-item {
  margin-top: 10px;
}

ion-button {
  margin-top: 15px;
}
