<!-- student.page.html -->
<ion-content class="ion-padding ion-text-center">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull down to refresh" refreshingSpinner="circles" refreshingText="Refreshing data..."></ion-refresher-content>
  </ion-refresher>
  <div class="page-card">
    <h1>Student Management</h1>

    <!-- Buttons -->
    <div class="buttons">
      <ion-button expand="block" color="primary" routerLink="/sections">
        Register Student
      </ion-button>
      <ion-button expand="block" fill="outline" color="primary" routerLink="/searchstud">
        Search Student
      </ion-button>
    </div>

    <!-- Back Link -->
    <ion-button fill="clear" color="primary" routerLink="/mainhome">
      ← Go Back
    </ion-button>
  </div>
</ion-content>
